force/src/flows/Create_Contact_Quick_Action.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <choices>
        <name>Accounting</name>
        <choiceText>Accounting</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Accounting</stringValue>
        </value>
    </choices>
    <choices>
        <name>Board_Member_Officer</name>
        <choiceText>Board Member/Officer</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Board Member/Officer</stringValue>
        </value>
    </choices>
    <choices>
        <name>Buyer</name>
        <choiceText>Buyer</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Buyer</stringValue>
        </value>
    </choices>
    <choices>
        <name>Dean</name>
        <choiceText>Dean</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Dean</stringValue>
        </value>
    </choices>
    <choices>
        <name>DO</name>
        <choiceText>DO</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>DO</stringValue>
        </value>
    </choices>
    <choices>
        <name>Doctor_Employee</name>
        <choiceText>Doctor-Employee</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Doctor-Employee</stringValue>
        </value>
    </choices>
    <choices>
        <name>Doctor_Owner</name>
        <choiceText>Doctor-Owner</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Doctor-Owner</stringValue>
        </value>
    </choices>
    <choices>
        <name>Doctor_Unspecified</name>
        <choiceText>Doctor-Unspecified</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Doctor-Unspecified</stringValue>
        </value>
    </choices>
    <choices>
        <name>Female</name>
        <choiceText>Female</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Female</stringValue>
        </value>
    </choices>
    <choices>
        <name>Group_Administrator</name>
        <choiceText>Group Administrator</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Group Administrator</stringValue>
        </value>
    </choices>
    <choices>
        <name>Lab_Technician</name>
        <choiceText>Lab Technician</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Lab Technician</stringValue>
        </value>
    </choices>
    <choices>
        <name>Male</name>
        <choiceText>Male</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Male</stringValue>
        </value>
    </choices>
    <choices>
        <name>MD</name>
        <choiceText>MD</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>MD</stringValue>
        </value>
    </choices>
    <choices>
        <name>Member</name>
        <choiceText>Member</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Member</stringValue>
        </value>
    </choices>
    <choices>
        <name>None</name>
        <choiceText>None</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>None</stringValue>
        </value>
    </choices>
    <choices>
        <name>OD</name>
        <choiceText>OD</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>OD</stringValue>
        </value>
    </choices>
    <choices>
        <name>Office_Administration</name>
        <choiceText>Office Administration</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Office Administration</stringValue>
        </value>
    </choices>
    <choices>
        <name>Office_Manager</name>
        <choiceText>Office Manager</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Office Manager</stringValue>
        </value>
    </choices>
    <choices>
        <name>Optical_Manager</name>
        <choiceText>Optical Manager</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Optical Manager</stringValue>
        </value>
    </choices>
    <choices>
        <name>Optician</name>
        <choiceText>Optician</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Optician</stringValue>
        </value>
    </choices>
    <choices>
        <name>Optician_Owner</name>
        <choiceText>Optician-Owner</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Optician-Owner</stringValue>
        </value>
    </choices>
    <choices>
        <name>Owner</name>
        <choiceText>Owner</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Owner</stringValue>
        </value>
    </choices>
    <choices>
        <name>Student</name>
        <choiceText>Student</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Studen</stringValue>
        </value>
    </choices>
    <choices>
        <name>Unspecified</name>
        <choiceText>Unspecified</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Unspecified</stringValue>
        </value>
    </choices>
    <formulas>
        <name>Today</name>
        <dataType>Date</dataType>
        <expression>TODAY()</expression>
    </formulas>
    <interviewLabel>Create Contact Quick Action {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Create Contact Quick Action</label>
    <processType>Flow</processType>
    <recordCreates>
        <name>Create_Contact</name>
        <label>Create Contact</label>
        <locationX>335</locationX>
        <locationY>221</locationY>
        <assignRecordIdToReference>vContactID</assignRecordIdToReference>
        <connector>
            <targetReference>Create_Contact_Role</targetReference>
        </connector>
        <inputAssignments>
            <field>AccountId</field>
            <value>
                <elementReference>vAccountID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Degree__c</field>
            <value>
                <elementReference>Degree</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Email</field>
            <value>
                <elementReference>Primary_Contact_Email</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>FirstName</field>
            <value>
                <elementReference>First_Name</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Gender__c</field>
            <value>
                <elementReference>Gender</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>LastName</field>
            <value>
                <elementReference>Last_Name</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Marketing_Name__c</field>
            <value>
                <elementReference>Marketing_Name</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>MobilePhone</field>
            <value>
                <elementReference>Mobile</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Phone</field>
            <value>
                <elementReference>Primary_Contact_Phone</elementReference>
            </value>
        </inputAssignments>
        <object>Contact</object>
    </recordCreates>
    <recordCreates>
        <name>Create_Contact_Role</name>
        <label>Create Contact Role</label>
        <locationX>606</locationX>
        <locationY>218</locationY>
        <assignRecordIdToReference>vContactRoleID</assignRecordIdToReference>
        <connector>
            <targetReference>Finish_Location</targetReference>
        </connector>
        <inputAssignments>
            <field>Account__c</field>
            <value>
                <elementReference>vAccountID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Contact__c</field>
            <value>
                <elementReference>vContactID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Start_Date__c</field>
            <value>
                <elementReference>Start_Date2</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Type__c</field>
            <value>
                <elementReference>Contact_Role_Type</elementReference>
            </value>
        </inputAssignments>
        <object>Contact_Role__c</object>
    </recordCreates>
    <screens>
        <name>Create_Contact_Screen</name>
        <label>Create Contact Screen</label>
        <locationX>94</locationX>
        <locationY>221</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Create_Contact</targetReference>
        </connector>
        <fields>
            <name>First_Name</name>
            <dataType>String</dataType>
            <fieldText>First Name</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Last_Name</name>
            <dataType>String</dataType>
            <fieldText>Last Name</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Marketing_Name</name>
            <dataType>String</dataType>
            <fieldText>Marketing Name</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Gender</name>
            <choiceReferences>Male</choiceReferences>
            <choiceReferences>Female</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Gender</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Degree</name>
            <choiceReferences>OD</choiceReferences>
            <choiceReferences>MD</choiceReferences>
            <choiceReferences>DO</choiceReferences>
            <choiceReferences>None</choiceReferences>
            <dataType>String</dataType>
            <defaultSelectedChoiceReference>None</defaultSelectedChoiceReference>
            <fieldText>Degree</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Primary_Contact_Phone</name>
            <dataType>String</dataType>
            <fieldText>Primary Contact Phone</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Mobile</name>
            <dataType>String</dataType>
            <fieldText>Mobile</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Primary_Contact_Email</name>
            <dataType>String</dataType>
            <fieldText>Primary Contact Email</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Contact_Role_Type</name>
            <choiceReferences>Accounting</choiceReferences>
            <choiceReferences>Board_Member_Officer</choiceReferences>
            <choiceReferences>Buyer</choiceReferences>
            <choiceReferences>Dean</choiceReferences>
            <choiceReferences>Doctor_Employee</choiceReferences>
            <choiceReferences>Doctor_Owner</choiceReferences>
            <choiceReferences>Doctor_Unspecified</choiceReferences>
            <choiceReferences>Group_Administrator</choiceReferences>
            <choiceReferences>Lab_Technician</choiceReferences>
            <choiceReferences>Member</choiceReferences>
            <choiceReferences>Office_Administration</choiceReferences>
            <choiceReferences>Office_Manager</choiceReferences>
            <choiceReferences>Optical_Manager</choiceReferences>
            <choiceReferences>Optician</choiceReferences>
            <choiceReferences>Optician_Owner</choiceReferences>
            <choiceReferences>Owner</choiceReferences>
            <choiceReferences>Student</choiceReferences>
            <choiceReferences>Unspecified</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Contact Role Type</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Start_Date2</name>
            <dataType>Date</dataType>
            <defaultValue>
                <elementReference>Today</elementReference>
            </defaultValue>
            <fieldText>Start Date</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Finish_Location</name>
        <label>Finish Location</label>
        <locationX>804</locationX>
        <locationY>335</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>ContactName</name>
            <fieldText>Your Contact and Contact Role have been created successfully.</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <startElementReference>Create_Contact_Screen</startElementReference>
    <status>Active</status>
    <variables>
        <name>Account</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Account</objectType>
    </variables>
    <variables>
        <name>Contact</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Contact</objectType>
    </variables>
    <variables>
        <name>ContactRole</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Contact_Role__c</objectType>
    </variables>
    <variables>
        <name>id</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>vAccountID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <elementReference>Account.Id</elementReference>
        </value>
    </variables>
    <variables>
        <name>vContactID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <elementReference>Contact.Id</elementReference>
        </value>
    </variables>
    <variables>
        <name>vContactRoleID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <elementReference>ContactRole.Id</elementReference>
        </value>
    </variables>
</Flow>
