force/src/flows/IP_Offer.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <actionCalls>
        <name>Not_Transferred_2</name>
        <label>Not Transferred 2</label>
        <locationX>1301</locationX>
        <locationY>1103</locationY>
        <actionName>NewTask</actionName>
        <actionType>quickAction</actionType>
        <connector>
            <targetReference>IsaCandidate_0</targetReference>
        </connector>
        <inputParameters>
            <name>OwnerId</name>
            <value>
                <elementReference>UserId</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>Subject</name>
            <value>
                <stringValue>Interested Not Transferred</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>Type__c</name>
            <value>
                <stringValue>Internal</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>contextId</name>
            <value>
                <elementReference>sObjContact.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>Status</name>
            <value>
                <stringValue>Completed</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>ActivityDate</name>
            <value>
                <elementReference>Today</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>Not_Transferred_3</name>
        <label>Not Transferred 3</label>
        <locationX>1140</locationX>
        <locationY>1105</locationY>
        <actionName>NewTask</actionName>
        <actionType>quickAction</actionType>
        <connector>
            <targetReference>DispositionUpdateSendIPOfferEmail</targetReference>
        </connector>
        <inputParameters>
            <name>OwnerId</name>
            <value>
                <elementReference>UserId</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>Subject</name>
            <value>
                <stringValue>Interested Not Transferred</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>Type__c</name>
            <value>
                <stringValue>Internal</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>contextId</name>
            <value>
                <elementReference>sObjContact.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>Status</name>
            <value>
                <stringValue>Completed</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>ActivityDate</name>
            <value>
                <elementReference>Today</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>Not_Transferred_to_Sales_Agent</name>
        <label>Not Transferred to Sales Agent</label>
        <locationX>1495</locationX>
        <locationY>1018</locationY>
        <actionName>NewTask</actionName>
        <actionType>quickAction</actionType>
        <connector>
            <targetReference>UpdateDispostionNoActionTaken</targetReference>
        </connector>
        <inputParameters>
            <name>OwnerId</name>
            <value>
                <elementReference>UserId</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>Subject</name>
            <value>
                <stringValue>Interested Not Transferred</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>Type__c</name>
            <value>
                <stringValue>Internal</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>contextId</name>
            <value>
                <elementReference>sObjContact.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>Status</name>
            <value>
                <stringValue>Completed</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>ActivityDate</name>
            <value>
                <elementReference>Today</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>TransferredSalesAgent</name>
        <label>TransferredSalesAgent</label>
        <locationX>980</locationX>
        <locationY>1238</locationY>
        <actionName>NewTask</actionName>
        <actionType>quickAction</actionType>
        <connector>
            <targetReference>TransferExtScreen</targetReference>
        </connector>
        <inputParameters>
            <name>OwnerId</name>
            <value>
                <elementReference>UserId</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>Subject</name>
            <value>
                <stringValue>Transferred to Sales Agent</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>Type__c</name>
            <value>
                <stringValue>Internal</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>contextId</name>
            <value>
                <elementReference>sObjContact.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>Status</name>
            <value>
                <stringValue>Completed</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>ActivityDate</name>
            <value>
                <elementReference>Today</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <assignments>
        <name>CountContactCollection</name>
        <label>CountContactCollection</label>
        <locationX>961</locationX>
        <locationY>285</locationY>
        <assignmentItems>
            <assignToReference>NumContacts</assignToReference>
            <operator>AssignCount</operator>
            <value>
                <elementReference>colNumContacts</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>ContactFound</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>SetVarContactId</name>
        <label>SetVarContactId</label>
        <locationX>972</locationX>
        <locationY>910</locationY>
        <assignmentItems>
            <assignToReference>varContactId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>sObjContact.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Transfer_to_Sales_Agent</targetReference>
        </connector>
    </assignments>
    <choices>
        <name>No</name>
        <choiceText>No</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>No</stringValue>
        </value>
    </choices>
    <choices>
        <name>SendEmailNo</name>
        <choiceText>No</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>No</stringValue>
        </value>
    </choices>
    <choices>
        <name>SendEmailYes</name>
        <choiceText>Yes</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Yes</stringValue>
        </value>
    </choices>
    <choices>
        <name>Yes</name>
        <choiceText>Yes</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Yes</stringValue>
        </value>
    </choices>
    <decisions>
        <name>ContactFound</name>
        <label>ContactFound?</label>
        <locationX>808</locationX>
        <locationY>289</locationY>
        <defaultConnector>
            <targetReference>CreateNewContactRecord</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>OneContactFound</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>NumContacts</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>1.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>LoopThru</targetReference>
            </connector>
            <label>One Contact Found</label>
        </rules>
    </decisions>
    <decisions>
        <name>ContactInCampaignDecision</name>
        <label>ContactInCampaignDecision</label>
        <locationX>1417</locationX>
        <locationY>851</locationY>
        <defaultConnector>
            <targetReference>SetVarContactId</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>ContactNotInCampaign</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varCampaignMemberId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>AddContactToCampaign</targetReference>
            </connector>
            <label>ContactNotInCampaign</label>
        </rules>
    </decisions>
    <decisions>
        <name>Do_Not_Email</name>
        <label>Do Not Email?</label>
        <locationX>966</locationX>
        <locationY>721</locationY>
        <defaultConnector>
            <targetReference>GetCampaignId</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>AddtoCampaign</defaultConnectorLabel>
        <rules>
            <name>DoNotAddtoCampaign</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Do_Not_Send_Email</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>SetVarContactId</targetReference>
            </connector>
            <label>DoNotAddtoCampaign</label>
        </rules>
    </decisions>
    <decisions>
        <name>IP_Interest_Decision</name>
        <label>IP Interest Decision</label>
        <locationX>249</locationX>
        <locationY>168</locationY>
        <defaultConnector>
            <targetReference>User_Tracking_Record</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Not Interested</defaultConnectorLabel>
        <rules>
            <name>YesInterested</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Interested</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Yes</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>User_Tracking_Record_2</targetReference>
            </connector>
            <label>Yes Interested</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_Email_Blank</name>
        <label>Is Email Blank?</label>
        <locationX>912</locationX>
        <locationY>156</locationY>
        <defaultConnector>
            <targetReference>CreateNewContactRecord</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>EmailBlank</defaultConnectorLabel>
        <rules>
            <name>EmailNotBlank</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Email_Address_Primary_Email_Address</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>FindContactAllEmailCollectionCount</targetReference>
            </connector>
            <label>EmailNotBlank</label>
        </rules>
    </decisions>
    <decisions>
        <name>Transfer_to_Sales_Agent</name>
        <label>Transfer to Sales Agent?</label>
        <locationX>1177</locationX>
        <locationY>971</locationY>
        <defaultConnector>
            <targetReference>Not_Transferred_2</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>TransfertoSalesAgent</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Transfer</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Yes</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>DispositionUpdateTransfer</targetReference>
            </connector>
            <label>TransfertoSalesAgent</label>
        </rules>
        <rules>
            <name>DidNotAddtoCampaign</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Do_Not_Send_Email</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Not_Transferred_to_Sales_Agent</targetReference>
            </connector>
            <label>DidNotAddtoCampaign</label>
        </rules>
        <rules>
            <name>TransferNo</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Transfer</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>No</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Not_Transferred_3</targetReference>
            </connector>
            <label>TransferNo</label>
        </rules>
    </decisions>
    <dynamicChoiceSets>
        <name>IPInterestChoice</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>IP_Interest__c</picklistField>
        <picklistObject>Contact</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>ReasonforIPChoice</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Reason_for_IP__c</picklistField>
        <picklistObject>Contact</picklistObject>
    </dynamicChoiceSets>
    <formulas>
        <name>Today</name>
        <dataType>Date</dataType>
        <expression>TODAY()</expression>
    </formulas>
    <formulas>
        <name>UserId</name>
        <dataType>String</dataType>
        <expression>{!$User.Id}</expression>
    </formulas>
    <interviewLabel>IP Offer {!$Flow.CurrentDateTime}</interviewLabel>
    <label>IP Offer - Final Changes</label>
    <loops>
        <name>LoopThru</name>
        <label>LoopThru</label>
        <locationX>951</locationX>
        <locationY>426</locationY>
        <assignNextValueToReference>sObjContact</assignNextValueToReference>
        <collectionReference>colNumContacts</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Verify_Contact_Info</targetReference>
        </nextValueConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>AddContactToCampaign</name>
        <label>AddContactToCampaign</label>
        <locationX>1174</locationX>
        <locationY>847</locationY>
        <connector>
            <targetReference>SetVarContactId</targetReference>
        </connector>
        <inputAssignments>
            <field>CampaignId</field>
            <value>
                <elementReference>varCampaignId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ContactId</field>
            <value>
                <elementReference>sObjContact.Id</elementReference>
            </value>
        </inputAssignments>
        <object>CampaignMember</object>
    </recordCreates>
    <recordCreates>
        <name>CreateNewContactRecord</name>
        <label>CreateNewContactRecord</label>
        <locationX>608</locationX>
        <locationY>291</locationY>
        <assignRecordIdToReference>varContactId</assignRecordIdToReference>
        <connector>
            <targetReference>LookupNewContact</targetReference>
        </connector>
        <inputAssignments>
            <field>AccountId</field>
            <value>
                <elementReference>VSPConsumerAccountId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Email</field>
            <value>
                <elementReference>Email_Address_Primary_Email_Address</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>FirstName</field>
            <value>
                <elementReference>First_Name</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>LastName</field>
            <value>
                <elementReference>Last_Name</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>ConsumerRecordTypeId</elementReference>
            </value>
        </inputAssignments>
        <object>Contact</object>
    </recordCreates>
    <recordCreates>
        <name>User_Tracking_Record</name>
        <label>User Tracking Record</label>
        <locationX>254</locationX>
        <locationY>285</locationY>
        <connector>
            <targetReference>Do_Not_Contact</targetReference>
        </connector>
        <inputAssignments>
            <field>Flow_Name__c</field>
            <value>
                <stringValue>IP Offer</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Flow_Path__c</field>
            <value>
                <stringValue>Not Interested</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>User__c</field>
            <value>
                <elementReference>UserId</elementReference>
            </value>
        </inputAssignments>
        <object>User_Flow_Tracking__c</object>
    </recordCreates>
    <recordCreates>
        <name>User_Tracking_Record_2</name>
        <label>User Tracking Record 2</label>
        <locationX>427</locationX>
        <locationY>280</locationY>
        <connector>
            <targetReference>GetContactInfo</targetReference>
        </connector>
        <inputAssignments>
            <field>Flow_Name__c</field>
            <value>
                <stringValue>IP Offer</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Flow_Path__c</field>
            <value>
                <stringValue>Yes Interested</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>User__c</field>
            <value>
                <elementReference>UserId</elementReference>
            </value>
        </inputAssignments>
        <object>User_Flow_Tracking__c</object>
    </recordCreates>
    <recordLookups>
        <name>AccountVSPConsumerId</name>
        <label>AccountVSPConsumerId</label>
        <locationX>743</locationX>
        <locationY>150</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Is_Email_Blank</targetReference>
        </connector>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>VSP Consumer</stringValue>
            </value>
        </filters>
        <object>Account</object>
        <outputAssignments>
            <assignToReference>VSPConsumerAccountId</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>ConsumerRecordIDLookup</name>
        <label>ConsumerRecordIDLookup</label>
        <locationX>599</locationX>
        <locationY>148</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>AccountVSPConsumerId</targetReference>
        </connector>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Consumer</stringValue>
            </value>
        </filters>
        <object>RecordType</object>
        <outputAssignments>
            <assignToReference>ConsumerRecordTypeId</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Find_Tab_Id</name>
        <label>Find Tab Id</label>
        <locationX>332</locationX>
        <locationY>25</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>IP_Interest_Decision</targetReference>
        </connector>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Quest</stringValue>
            </value>
        </filters>
        <object>TabDefinition</object>
        <outputAssignments>
            <assignToReference>varFinishTabId</assignToReference>
            <field>Url</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>FindContactAllEmailCollectionCount</name>
        <label>FindContactAllEmailCollectionCount</label>
        <locationX>1154</locationX>
        <locationY>282</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>CountContactCollection</targetReference>
        </connector>
        <filters>
            <field>All_Emails__c</field>
            <operator>Contains</operator>
            <value>
                <elementReference>Email_Address_Primary_Email_Address</elementReference>
            </value>
        </filters>
        <filters>
            <field>RecordTypeId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>ConsumerRecordTypeId</elementReference>
            </value>
        </filters>
        <object>Contact</object>
        <outputReference>colNumContacts</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Email</queriedFields>
        <queriedFields>FirstName</queriedFields>
        <queriedFields>LastName</queriedFields>
        <queriedFields>Phone</queriedFields>
        <queriedFields>MailingStreet</queriedFields>
        <queriedFields>MailingCity</queriedFields>
        <queriedFields>MailingState</queriedFields>
        <queriedFields>MailingPostalCode</queriedFields>
        <queriedFields>MailingCountry</queriedFields>
        <queriedFields>Expected_Effective_Date__c</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>FindContactAllEmailField</name>
        <label>FindContactAllEmailField</label>
        <locationX>1201</locationX>
        <locationY>163</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <filters>
            <field>All_Emails__c</field>
            <operator>Contains</operator>
            <value>
                <elementReference>Email_Address_Primary_Email_Address</elementReference>
            </value>
        </filters>
        <filters>
            <field>RecordTypeId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>ConsumerRecordTypeId</elementReference>
            </value>
        </filters>
        <object>Contact</object>
        <outputReference>sObjContact</outputReference>
        <queriedFields>Email</queriedFields>
        <queriedFields>FirstName</queriedFields>
        <queriedFields>LastName</queriedFields>
        <queriedFields>Phone</queriedFields>
        <queriedFields>MailingStreet</queriedFields>
        <queriedFields>MailingCity</queriedFields>
        <queriedFields>MailingState</queriedFields>
        <queriedFields>MailingPostalCode</queriedFields>
        <queriedFields>MailingCountry</queriedFields>
        <queriedFields>Expected_Effective_Date__c</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>GetCampaignId</name>
        <label>GetCampaignId</label>
        <locationX>1179</locationX>
        <locationY>724</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>IsContactInCampaign</targetReference>
        </connector>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Wait Campaign</stringValue>
            </value>
        </filters>
        <object>Campaign</object>
        <outputAssignments>
            <assignToReference>varCampaignId</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>IsContactInCampaign</name>
        <label>IsContactInCampaign?</label>
        <locationX>1393</locationX>
        <locationY>728</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>ContactInCampaignDecision</targetReference>
        </connector>
        <filters>
            <field>CampaignId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varCampaignId</elementReference>
            </value>
        </filters>
        <filters>
            <field>ContactId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>sObjContact.Id</elementReference>
            </value>
        </filters>
        <object>CampaignMember</object>
        <outputAssignments>
            <assignToReference>varCampaignMemberId</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>LookupNewContact</name>
        <label>LookupNewContact</label>
        <locationX>603</locationX>
        <locationY>532</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Verify_Contact_Info</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varContactId</elementReference>
            </value>
        </filters>
        <object>Contact</object>
        <outputReference>sObjContact</outputReference>
        <queriedFields>Email</queriedFields>
        <queriedFields>FirstName</queriedFields>
        <queriedFields>LastName</queriedFields>
        <queriedFields>MailingStreet</queriedFields>
        <queriedFields>MailingCity</queriedFields>
        <queriedFields>MailingState</queriedFields>
        <queriedFields>MailingPostalCode</queriedFields>
        <queriedFields>MailingCountry</queriedFields>
        <queriedFields>Expected_Effective_Date__c</queriedFields>
    </recordLookups>
    <recordUpdates>
        <name>DispositionUpdateSendIPOfferEmail</name>
        <label>DispositionUpdateSendIPOfferEmail</label>
        <locationX>1151</locationX>
        <locationY>1205</locationY>
        <connector>
            <targetReference>IsaCandidate</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>sObjContact.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Disposition_of_Call__c</field>
            <value>
                <stringValue>Send IP Offer email</stringValue>
            </value>
        </inputAssignments>
        <object>Contact</object>
    </recordUpdates>
    <recordUpdates>
        <name>DispositionUpdateTransfer</name>
        <label>DispositionUpdateTransfer</label>
        <locationX>976</locationX>
        <locationY>1131</locationY>
        <connector>
            <targetReference>TransferredSalesAgent</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>sObjContact.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Disposition_of_Call__c</field>
            <value>
                <stringValue>Transferred to Sales Agent</stringValue>
            </value>
        </inputAssignments>
        <object>Contact</object>
    </recordUpdates>
    <recordUpdates>
        <name>NotInterestedContactUpdate</name>
        <label>NotInterestedContactUpdate</label>
        <locationX>197</locationX>
        <locationY>494</locationY>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>sObjContact.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Disposition_of_Call__c</field>
            <value>
                <stringValue>No Action Taken</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Offered_IP_Opportunity__c</field>
            <value>
                <elementReference>Today</elementReference>
            </value>
        </inputAssignments>
        <object>Contact</object>
    </recordUpdates>
    <recordUpdates>
        <name>UpdateContact</name>
        <label>UpdateContact</label>
        <locationX>809</locationX>
        <locationY>715</locationY>
        <connector>
            <targetReference>Do_Not_Email</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>sObjContact.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Email</field>
            <value>
                <elementReference>Email_Address_Primary_Email_Address</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Expected_Effective_Date__c</field>
            <value>
                <elementReference>Effective_Date</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Offered_IP_Opportunity__c</field>
            <value>
                <elementReference>Today</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Reason_for_IP__c</field>
            <value>
                <elementReference>Reason_for_IP_Radio</elementReference>
            </value>
        </inputAssignments>
        <object>Contact</object>
    </recordUpdates>
    <recordUpdates>
        <name>UpdateDispostionNoActionTaken</name>
        <label>UpdateDispostionNoActionTaken</label>
        <locationX>1501</locationX>
        <locationY>1135</locationY>
        <connector>
            <targetReference>IsaCandidate_1</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>sObjContact.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Disposition_of_Call__c</field>
            <value>
                <stringValue>No Action Taken</stringValue>
            </value>
        </inputAssignments>
        <object>Contact</object>
    </recordUpdates>
    <screens>
        <name>Do_Not_Contact</name>
        <label>Do Not Contact</label>
        <locationX>253</locationX>
        <locationY>406</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>DoNotContactScreen</name>
            <fieldText>&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:16px&quot; COLOR=&quot;#330066&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;&lt;B&gt;&lt;I&gt;&amp;quot;If you&amp;apos;re ever interested, please visit StayWithVSP.com for more information.&amp;quot;&lt;/I&gt;&lt;/B&gt;&lt;/FONT&gt;&lt;/DIV&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>GetContactInfo</name>
        <label>GetContactInfo</label>
        <locationX>446</locationX>
        <locationY>157</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>ConsumerRecordIDLookup</targetReference>
        </connector>
        <fields>
            <name>ProvideContactInfo</name>
            <fieldText>&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:16px&quot; COLOR=&quot;#330066&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;&lt;B&gt;&lt;I&gt;&amp;quot;What is your email address? I will send you more information on VSP&amp;apos;s Individual Plan.&amp;quot;&lt;/I&gt;&lt;/B&gt;&lt;/FONT&gt;&lt;/DIV&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>First_Name</name>
            <dataType>String</dataType>
            <fieldText>First Name</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Blank</name>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Last_Name</name>
            <dataType>String</dataType>
            <fieldText>Last Name</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Blank2</name>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Email_Address_Primary_Email_Address</name>
            <dataType>String</dataType>
            <fieldText>Email Address</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>blankSpace4</name>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Email24hours</name>
            <fieldText>&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:16px&quot; COLOR=&quot;#330066&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;&lt;B&gt;&lt;I&gt;&amp;quot;Thank you. You will receive an email in the next 24 hours.&amp;quot;&lt;/I&gt;&lt;/B&gt;&lt;/FONT&gt;&lt;/DIV&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>BlankSpace1</name>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>BlankSpace2</name>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>DoNotEmail</name>
            <fieldText>&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;&lt;B&gt;Check box below only if caller specifically asks NOT to be emailed.&lt;/B&gt;&lt;/FONT&gt;&lt;/DIV&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Do_Not_Send_Email</name>
            <dataType>Boolean</dataType>
            <fieldText>Do Not Send Email</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>IP_Interest_Level</name>
        <label>IP Interest Level</label>
        <locationX>180</locationX>
        <locationY>18</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Find_Tab_Id</targetReference>
        </connector>
        <fields>
            <name>Offer</name>
            <fieldText>&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:16px&quot; COLOR=&quot;#330066&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;&lt;B&gt;&lt;I&gt;&amp;quot;There is an opportunity to purchase further coverage with VSP. Would you be interested in learning more about VSP&amp;apos;s Individual Plan?&amp;quot;&lt;/I&gt;&lt;/B&gt;&lt;/FONT&gt;&lt;/DIV&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Interested</name>
            <choiceReferences>Yes</choiceReferences>
            <choiceReferences>No</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Interested?</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>IsaCandidate</name>
        <label>IsaCandidate</label>
        <locationX>1158</locationX>
        <locationY>1305</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>IsaCandidateScreen</name>
            <fieldText>&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:14px&quot; COLOR=&quot;#330066&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;&lt;B&gt;&lt;I&gt;&amp;quot;If you&amp;apos;re ever interested, please visit StayWithVSP.com for more information&amp;quot;&lt;/I&gt;&lt;/B&gt;&lt;/FONT&gt;&lt;/DIV&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>IsaCandidate_0</name>
        <label>IsaCandidate</label>
        <locationX>1325</locationX>
        <locationY>1303</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>IsaCandidateScreen_0</name>
            <fieldText>&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:14px&quot; COLOR=&quot;#330066&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;&lt;B&gt;&lt;I&gt;&amp;quot;If you&amp;apos;re ever interested, please visit StayWithVSP.com for more information&amp;quot;&lt;/I&gt;&lt;/B&gt;&lt;/FONT&gt;&lt;/DIV&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>IsaCandidate_1</name>
        <label>IsaCandidate</label>
        <locationX>1510</locationX>
        <locationY>1290</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>IsaCandidateScreen_1</name>
            <fieldText>&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:14px&quot; COLOR=&quot;#330066&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;&lt;B&gt;&lt;I&gt;&amp;quot;If you&amp;apos;re ever interested, please visit StayWithVSP.com for more information&amp;quot;&lt;/I&gt;&lt;/B&gt;&lt;/FONT&gt;&lt;/DIV&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>TransferExtScreen</name>
        <label>TransferExtScreen</label>
        <locationX>976</locationX>
        <locationY>1339</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>StayWithVSPcom</name>
            <fieldText>&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:16px&quot; COLOR=&quot;#330066&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;&lt;B&gt;&lt;I&gt;&amp;quot;What state do you reside in and I&amp;apos;ll transfer you to someone who can talk to you about VSP&amp;apos;s Individual Plan.&amp;quot;&lt;/I&gt;&lt;/B&gt;&lt;/FONT&gt;&lt;/DIV&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>TransferExt</name>
            <fieldText>&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;&lt;B&gt;Transfer to 1119055 and select the caller&amp;apos;s state before you cold transfer.&lt;/B&gt;&lt;/FONT&gt;&lt;/DIV&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>TransferScreen2</name>
        <label>TransferScreen</label>
        <locationX>620</locationX>
        <locationY>998</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>TransferScript</name>
            <fieldText>&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:16px&quot; COLOR=&quot;#330066&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;&lt;B&gt;&lt;I&gt;Would you like to talk to someone about VSP&amp;apos;s Individual Plan?&lt;/I&gt;&lt;/B&gt;&lt;/FONT&gt;&lt;/DIV&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Transfer2</name>
            <choiceReferences>Yes</choiceReferences>
            <choiceReferences>No</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Transfer</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Verify_Contact_Info</name>
        <label>Verify Contact Info</label>
        <locationX>811</locationX>
        <locationY>621</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>UpdateContact</targetReference>
        </connector>
        <fields>
            <name>GetEffDateandReasonforIP</name>
            <fieldText>&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;&lt;B&gt;If provided, select a date the caller would need insurance.&lt;/B&gt;&lt;/FONT&gt;&lt;/DIV&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Effective_Date</name>
            <dataType>Date</dataType>
            <defaultValue>
                <elementReference>sObjContact.Expected_Effective_Date__c</elementReference>
            </defaultValue>
            <fieldText>Effective Date</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Reason_for_IP_Radio</name>
            <choiceReferences>ReasonforIPChoice</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Reason for IP</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>BlankSpace3</name>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>question</name>
            <fieldText>&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:16px&quot; COLOR=&quot;#330066&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;&lt;B&gt;&lt;I&gt;Would you like to talk to someone about VSP&amp;apos;s Individual Plan?&lt;/I&gt;&lt;/B&gt;&lt;/FONT&gt;&lt;/DIV&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Transfer</name>
            <choiceReferences>Yes</choiceReferences>
            <choiceReferences>No</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Transfer</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <startElementReference>IP_Interest_Level</startElementReference>
    <status>Draft</status>
    <variables>
        <name>colNumContacts</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Contact</objectType>
    </variables>
    <variables>
        <name>ConsumerRecordTypeId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>NumContacts</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>sObjContact</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Contact</objectType>
    </variables>
    <variables>
        <name>varCampaignId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>varCampaignMemberId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>varContactId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <stringValue>0030t00000RaWyS</stringValue>
        </value>
    </variables>
    <variables>
        <name>varFinishTabId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <stringValue>01rU0000000UYRk</stringValue>
        </value>
    </variables>
    <variables>
        <name>VSPConsumerAccountId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
