force/src/flows/NBA_IP_Opportunity_Offer.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <actionCalls>
        <name>Not_Transferred_3</name>
        <label>Not Transferred 3</label>
        <locationX>786</locationX>
        <locationY>835</locationY>
        <actionName>NewTask</actionName>
        <actionType>quickAction</actionType>
        <connector>
            <targetReference>DispositionUpdateSendIPOfferEmail</targetReference>
        </connector>
        <inputParameters>
            <name>OwnerId</name>
            <value>
                <elementReference>UserId</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>Subject</name>
            <value>
                <stringValue>Interested Not Transferred</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>Type__c</name>
            <value>
                <stringValue>Internal</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>contextId</name>
            <value>
                <elementReference>sObjContact.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>Status</name>
            <value>
                <stringValue>Completed</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>ActivityDate</name>
            <value>
                <elementReference>Today</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>TransferredSalesAgent</name>
        <label>TransferredSalesAgent</label>
        <locationX>634</locationX>
        <locationY>918</locationY>
        <actionName>NewTask</actionName>
        <actionType>quickAction</actionType>
        <connector>
            <targetReference>TransferExtScreen</targetReference>
        </connector>
        <inputParameters>
            <name>OwnerId</name>
            <value>
                <elementReference>UserId</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>Subject</name>
            <value>
                <stringValue>Transferred to Sales Agent</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>Type__c</name>
            <value>
                <stringValue>Internal</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>contextId</name>
            <value>
                <elementReference>sObjContact.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>Status</name>
            <value>
                <stringValue>Completed</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>ActivityDate</name>
            <value>
                <elementReference>Today</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <assignments>
        <name>CountContactCollection</name>
        <label>CountContactCollection</label>
        <locationX>961</locationX>
        <locationY>285</locationY>
        <assignmentItems>
            <assignToReference>NumContacts</assignToReference>
            <operator>AssignCount</operator>
            <value>
                <elementReference>colNumContacts</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>ContactFound</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>SetVarContactId</name>
        <label>SetVarContactId</label>
        <locationX>906</locationX>
        <locationY>574</locationY>
        <assignmentItems>
            <assignToReference>varContactId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>sObjContact.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Transfer_to_Sales_Agent</targetReference>
        </connector>
    </assignments>
    <choices>
        <name>EmailOnly</name>
        <choiceText>Email Only</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>EmailOnly</stringValue>
        </value>
    </choices>
    <choices>
        <name>EmailThenTransfer</name>
        <choiceText>Email then Transfer</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>EmailThenTransfer</stringValue>
        </value>
    </choices>
    <choices>
        <name>No</name>
        <choiceText>No</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>No</stringValue>
        </value>
    </choices>
    <choices>
        <name>SendEmailNo</name>
        <choiceText>No</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>No</stringValue>
        </value>
    </choices>
    <choices>
        <name>SendEmailYes</name>
        <choiceText>Yes</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Yes</stringValue>
        </value>
    </choices>
    <choices>
        <name>TransferOnly</name>
        <choiceText>Transfer Only</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>TransferOnly</stringValue>
        </value>
    </choices>
    <choices>
        <name>Yes</name>
        <choiceText>Yes</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Yes</stringValue>
        </value>
    </choices>
    <decisions>
        <name>ContactFound</name>
        <label>ContactFound?</label>
        <locationX>695</locationX>
        <locationY>341</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>OneContactFound</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>NumContacts</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>1.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>LoopThru</targetReference>
            </connector>
            <label>One Contact Found</label>
        </rules>
    </decisions>
    <decisions>
        <name>ContactInCampaignDecision</name>
        <label>ContactInCampaignDecision</label>
        <locationX>1261</locationX>
        <locationY>559</locationY>
        <defaultConnector>
            <targetReference>SetVarContactId</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>ContactNotInCampaign</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varCampaignMemberId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>AddContactToCampaign</targetReference>
            </connector>
            <label>ContactNotInCampaign</label>
        </rules>
    </decisions>
    <decisions>
        <name>IP_Interest_Decision</name>
        <label>IP Interest Decision</label>
        <locationX>249</locationX>
        <locationY>168</locationY>
        <defaultConnector>
            <targetReference>User_Tracking_Record</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Not Interested</defaultConnectorLabel>
        <rules>
            <name>YesInterested</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Interested</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Yes</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>User_Tracking_Record_2</targetReference>
            </connector>
            <label>Yes Interested</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_Email_Blank</name>
        <label>Is Email Blank?</label>
        <locationX>859</locationX>
        <locationY>186</locationY>
        <defaultConnectorLabel>EmailBlank</defaultConnectorLabel>
        <rules>
            <name>EmailNotBlank</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Email_Address_Primary_Email_Address</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>FindContactAllEmailCollectionCount</targetReference>
            </connector>
            <label>EmailNotBlank</label>
        </rules>
    </decisions>
    <decisions>
        <name>Transfer_to_Sales_Agent</name>
        <label>Transfer to Sales Agent?</label>
        <locationX>598</locationX>
        <locationY>668</locationY>
        <defaultConnector>
            <targetReference>Not_Transferred_3</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>TransfertoSalesAgent</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Transfer_Radio</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Yes</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>DispositionUpdateTransfer</targetReference>
            </connector>
            <label>TransfertoSalesAgent</label>
        </rules>
    </decisions>
    <decisions>
        <name>TransferEmailDecision</name>
        <label>TransferEmailDecision</label>
        <locationX>449</locationX>
        <locationY>523</locationY>
        <defaultConnector>
            <targetReference>TransferOnlyIntrestedScreen</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>EmailDecision</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>Customer_Wants_To_Be_Radio</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>EmailOnly</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Customer_Wants_To_Be_Radio</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>EmailThenTransfer</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>GetContactInfo</targetReference>
            </connector>
            <label>EmailDecision</label>
        </rules>
    </decisions>
    <dynamicChoiceSets>
        <name>IPInterestChoice</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>IP_Interest__c</picklistField>
        <picklistObject>Contact</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>ReasonforIPChoice</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Reason_for_IP__c</picklistField>
        <picklistObject>Contact</picklistObject>
    </dynamicChoiceSets>
    <formulas>
        <name>Today</name>
        <dataType>Date</dataType>
        <expression>TODAY()</expression>
    </formulas>
    <formulas>
        <name>UserId</name>
        <dataType>String</dataType>
        <expression>{!$User.Id}</expression>
    </formulas>
    <interviewLabel>NBA - IP Opportunity Offer {!$Flow.CurrentDateTime}</interviewLabel>
    <label>NBA - IP Opportunity Offer</label>
    <loops>
        <name>LoopThru</name>
        <label>LoopThru</label>
        <locationX>951</locationX>
        <locationY>426</locationY>
        <assignNextValueToReference>sObjContact</assignNextValueToReference>
        <collectionReference>colNumContacts</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>UpdateContact</targetReference>
        </nextValueConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>AddContactToCampaign</name>
        <label>AddContactToCampaign</label>
        <locationX>1268</locationX>
        <locationY>746</locationY>
        <connector>
            <targetReference>SetVarContactId</targetReference>
        </connector>
        <inputAssignments>
            <field>CampaignId</field>
            <value>
                <elementReference>varCampaignId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ContactId</field>
            <value>
                <elementReference>sObjContact.Id</elementReference>
            </value>
        </inputAssignments>
        <object>CampaignMember</object>
    </recordCreates>
    <recordCreates>
        <name>User_Tracking_Record</name>
        <label>User Tracking Record</label>
        <locationX>254</locationX>
        <locationY>285</locationY>
        <connector>
            <targetReference>Do_Not_Contact</targetReference>
        </connector>
        <inputAssignments>
            <field>Flow_Name__c</field>
            <value>
                <stringValue>IP Offer</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Flow_Path__c</field>
            <value>
                <stringValue>Not Interested</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>User__c</field>
            <value>
                <elementReference>UserId</elementReference>
            </value>
        </inputAssignments>
        <object>User_Flow_Tracking__c</object>
    </recordCreates>
    <recordCreates>
        <name>User_Tracking_Record_2</name>
        <label>User Tracking Record 2</label>
        <locationX>359</locationX>
        <locationY>269</locationY>
        <connector>
            <targetReference>CustomerWantsToBe</targetReference>
        </connector>
        <inputAssignments>
            <field>Flow_Name__c</field>
            <value>
                <stringValue>IP Offer</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Flow_Path__c</field>
            <value>
                <stringValue>Yes Interested</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>User__c</field>
            <value>
                <elementReference>UserId</elementReference>
            </value>
        </inputAssignments>
        <object>User_Flow_Tracking__c</object>
    </recordCreates>
    <recordLookups>
        <name>AccountVSPConsumerId</name>
        <label>AccountVSPConsumerId</label>
        <locationX>673</locationX>
        <locationY>183</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Is_Email_Blank</targetReference>
        </connector>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>VSP Consumer</stringValue>
            </value>
        </filters>
        <object>Account</object>
        <outputAssignments>
            <assignToReference>VSPConsumerAccountId</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Find_Tab_Id</name>
        <label>Find Tab Id</label>
        <locationX>332</locationX>
        <locationY>25</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>IP_Interest_Decision</targetReference>
        </connector>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Quest</stringValue>
            </value>
        </filters>
        <object>TabDefinition</object>
        <outputAssignments>
            <assignToReference>varFinishTabId</assignToReference>
            <field>Url</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>FindContactAllEmailCollectionCount</name>
        <label>FindContactAllEmailCollectionCount</label>
        <locationX>1101</locationX>
        <locationY>231</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>CountContactCollection</targetReference>
        </connector>
        <filters>
            <field>Personal_Email__c</field>
            <operator>Contains</operator>
            <value>
                <elementReference>Email_Address_Primary_Email_Address</elementReference>
            </value>
        </filters>
        <filters>
            <field>RecordTypeId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>PersonAccountRecordTypeId</elementReference>
            </value>
        </filters>
        <object>Contact</object>
        <outputReference>colNumContacts</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Email</queriedFields>
        <queriedFields>FirstName</queriedFields>
        <queriedFields>LastName</queriedFields>
        <queriedFields>Phone</queriedFields>
        <queriedFields>MailingStreet</queriedFields>
        <queriedFields>MailingCity</queriedFields>
        <queriedFields>MailingState</queriedFields>
        <queriedFields>MailingPostalCode</queriedFields>
        <queriedFields>MailingCountry</queriedFields>
        <queriedFields>Expected_Effective_Date__c</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>FindContactAllEmailField</name>
        <label>FindContactAllEmailField</label>
        <locationX>1220</locationX>
        <locationY>135</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <filters>
            <field>Personal_Email__c</field>
            <operator>Contains</operator>
            <value>
                <elementReference>Email_Address_Primary_Email_Address</elementReference>
            </value>
        </filters>
        <filters>
            <field>RecordTypeId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>PersonAccountRecordTypeId</elementReference>
            </value>
        </filters>
        <object>Contact</object>
        <outputReference>sObjContact</outputReference>
        <queriedFields>Email</queriedFields>
        <queriedFields>FirstName</queriedFields>
        <queriedFields>LastName</queriedFields>
        <queriedFields>Phone</queriedFields>
        <queriedFields>MailingStreet</queriedFields>
        <queriedFields>MailingCity</queriedFields>
        <queriedFields>MailingState</queriedFields>
        <queriedFields>MailingPostalCode</queriedFields>
        <queriedFields>MailingCountry</queriedFields>
        <queriedFields>Expected_Effective_Date__c</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>GetCampaignId</name>
        <label>GetCampaignId</label>
        <locationX>1391</locationX>
        <locationY>423</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>IsContactInCampaign</targetReference>
        </connector>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Wait Campaign</stringValue>
            </value>
        </filters>
        <object>Campaign</object>
        <outputAssignments>
            <assignToReference>varCampaignId</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>IsContactInCampaign</name>
        <label>IsContactInCampaign?</label>
        <locationX>1398</locationX>
        <locationY>556</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>ContactInCampaignDecision</targetReference>
        </connector>
        <filters>
            <field>CampaignId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varCampaignId</elementReference>
            </value>
        </filters>
        <filters>
            <field>ContactId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>sObjContact.Id</elementReference>
            </value>
        </filters>
        <object>CampaignMember</object>
        <outputAssignments>
            <assignToReference>varCampaignMemberId</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <recordUpdates>
        <name>DispositionUpdateSendIPOfferEmail</name>
        <label>DispositionUpdateSendIPOfferEmail</label>
        <locationX>791</locationX>
        <locationY>966</locationY>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>sObjContact.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Disposition_of_Call__c</field>
            <value>
                <stringValue>Send IP Offer email</stringValue>
            </value>
        </inputAssignments>
        <object>Contact</object>
    </recordUpdates>
    <recordUpdates>
        <name>DispositionUpdateTransfer</name>
        <label>DispositionUpdateTransfer</label>
        <locationX>628</locationX>
        <locationY>785</locationY>
        <connector>
            <targetReference>TransferredSalesAgent</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>sObjContact.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Disposition_of_Call__c</field>
            <value>
                <stringValue>Transferred to Sales Agent</stringValue>
            </value>
        </inputAssignments>
        <object>Contact</object>
    </recordUpdates>
    <recordUpdates>
        <name>NotInterestedContactUpdate</name>
        <label>NotInterestedContactUpdate</label>
        <locationX>195</locationX>
        <locationY>553</locationY>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>sObjContact.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Disposition_of_Call__c</field>
            <value>
                <stringValue>No Action Taken</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Offered_IP_Opportunity__c</field>
            <value>
                <elementReference>Today</elementReference>
            </value>
        </inputAssignments>
        <object>Contact</object>
    </recordUpdates>
    <recordUpdates>
        <name>UpdateContact</name>
        <label>UpdateContact</label>
        <locationX>1181</locationX>
        <locationY>424</locationY>
        <connector>
            <targetReference>GetCampaignId</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>sObjContact.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Email</field>
            <value>
                <elementReference>Email_Address_Primary_Email_Address</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Expected_Effective_Date__c</field>
            <value>
                <elementReference>Effective_Date</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Offered_IP_Opportunity__c</field>
            <value>
                <elementReference>Today</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Reason_for_IP__c</field>
            <value>
                <elementReference>Reason_for_IP_Radio</elementReference>
            </value>
        </inputAssignments>
        <object>Contact</object>
    </recordUpdates>
    <screens>
        <name>CustomerWantsToBe</name>
        <label>CustomerWantsToBe?</label>
        <locationX>363</locationX>
        <locationY>363</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>TransferEmailDecision</targetReference>
        </connector>
        <fields>
            <name>ICanEmailInfo</name>
            <fieldText>&lt;p&gt;&lt;b style=&quot;font-size: 16px; font-family: sans-serif; color: rgb(51, 0, 102); background-color: rgb(255, 255, 255);&quot;&gt;&lt;i&gt;&quot;I can email you information about the plan if you like and transfer you to a representative.&quot;&lt;/i&gt;&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Customer_Wants_To_Be_Radio</name>
            <choiceReferences>TransferOnly</choiceReferences>
            <choiceReferences>EmailOnly</choiceReferences>
            <choiceReferences>EmailThenTransfer</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Customer Wants To Be</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Do_Not_Contact</name>
        <label>Do Not Contact</label>
        <locationX>253</locationX>
        <locationY>406</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>DoNotContactScreen</name>
            <fieldText>&lt;p&gt;&lt;b style=&quot;color: rgb(51, 0, 102); font-family: sans-serif; font-size: 16px;&quot;&gt;&lt;i&gt;&quot;Thank you for being a VSP member. If you&apos;re ever interested in learning more about the individual Plan, please visit StayWithVSP.com.&quot;&lt;/i&gt;&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>GetContactInfo</name>
        <label>GetContactInfo</label>
        <locationX>468</locationX>
        <locationY>183</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>AccountVSPConsumerId</targetReference>
        </connector>
        <fields>
            <name>ProvideContactInfo</name>
            <fieldText>&lt;p&gt;&lt;b style=&quot;color: rgb(51, 0, 102); font-family: sans-serif; font-size: 16px;&quot;&gt;&lt;i&gt;&quot;What is your email address?&quot;&lt;/i&gt;&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Email_Address_Primary_Email_Address</name>
            <dataType>String</dataType>
            <fieldText>Email Address</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>blankSpace4</name>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Email24hours</name>
            <fieldText>&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:16px&quot; COLOR=&quot;#330066&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;&lt;B&gt;&lt;I&gt;&amp;quot;Thank you. You will receive an email in the next 24 hours.&amp;quot;&lt;/I&gt;&lt;/B&gt;&lt;/FONT&gt;&lt;/DIV&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>BlankSpace1</name>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>BlankSpace2</name>
            <fieldText>&lt;p&gt;&lt;b&gt;If provided, select a date the caller would need insurance.&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Effective_Date</name>
            <dataType>Date</dataType>
            <defaultValue>
                <elementReference>Today</elementReference>
            </defaultValue>
            <fieldText>Effective Date</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Reason_for_IP_Radio</name>
            <choiceReferences>ReasonforIPChoice</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Reason for IP</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Transfer_Radio</name>
            <choiceReferences>Yes</choiceReferences>
            <choiceReferences>No</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Transfer</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>IP_Interest_Level</name>
        <label>IP Interest Level</label>
        <locationX>180</locationX>
        <locationY>18</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Find_Tab_Id</targetReference>
        </connector>
        <fields>
            <name>Offer</name>
            <fieldText>&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:16px&quot; COLOR=&quot;#330066&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;&lt;B&gt;&lt;I&gt;&amp;quot;There is an opportunity to purchase further coverage with VSP. Would you be interested in learning more about VSP&amp;apos;s Individual Plan?&amp;quot;&lt;/I&gt;&lt;/B&gt;&lt;/FONT&gt;&lt;/DIV&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Interested</name>
            <choiceReferences>Yes</choiceReferences>
            <choiceReferences>No</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Interested?</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>TransferExtScreen</name>
        <label>TransferExtScreen</label>
        <locationX>635</locationX>
        <locationY>1049</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>StayWithVSPcom</name>
            <fieldText>&lt;p&gt;&lt;b style=&quot;color: rgb(51, 0, 102); font-family: sans-serif; font-size: 16px;&quot;&gt;&lt;i&gt;&quot;One moment while I&apos;ll transfer you.&lt;/i&gt;&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>TransferExt</name>
            <fieldText>&lt;p&gt;&lt;b style=&quot;color: rgb(0, 0, 0); font-family: sans-serif; font-size: 12px;&quot;&gt;Transfer to ***&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>TransferOnlyIntrestedScreen</name>
        <label>TransferOnlyIntrestedScreen</label>
        <locationX>364</locationX>
        <locationY>703</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>OneMomentDisplay</name>
            <fieldText>&lt;p&gt;&lt;b style=&quot;font-size: 16px; font-family: sans-serif; color: rgb(51, 0, 102); background-color: rgb(255, 255, 255);&quot;&gt;&lt;i&gt;&quot;One moment while I&apos;ll transfer you.&quot;&lt;/i&gt;&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Transfer119055Display</name>
            <fieldText>&lt;p&gt;Transfer to 119055&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>TransferScreen2</name>
        <label>TransferScreen</label>
        <locationX>266</locationX>
        <locationY>875</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>TransferScript</name>
            <fieldText>&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:16px&quot; COLOR=&quot;#330066&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;&lt;B&gt;&lt;I&gt;Would you like to talk to someone about VSP&amp;apos;s Individual Plan?&lt;/I&gt;&lt;/B&gt;&lt;/FONT&gt;&lt;/DIV&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Transfer2</name>
            <choiceReferences>Yes</choiceReferences>
            <choiceReferences>No</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Transfer</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <startElementReference>IP_Interest_Level</startElementReference>
    <status>Active</status>
    <variables>
        <name>colNumContacts</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Contact</objectType>
    </variables>
    <variables>
        <name>ConsumerRecordTypeId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>countNumAccounts</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Account</objectType>
    </variables>
    <variables>
        <name>NumContacts</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>PersonAccountRecordTypeId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>sObjContact</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Contact</objectType>
    </variables>
    <variables>
        <name>varCampaignId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>varCampaignMemberId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>varContactId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <stringValue>0030t00000RaWyS</stringValue>
        </value>
    </variables>
    <variables>
        <name>varFinishTabId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <stringValue>01rU0000000UYRk</stringValue>
        </value>
    </variables>
    <variables>
        <name>VSPConsumerAccountId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
